@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
  --background-main: linear-gradient(180deg, #615dad, #ffc8da);
  --background-upotavka: #283e50;
  --text: #ffffff;
  --pravidla-btn: #1fcca4;
  --pravidla-btn-hover: #1cbb96;
  --hra-btn: #0197f6;
  --hra-btn-hover: #0090e9;
  --square-thin: 40px;
  --square-broad: 60px;
  --square-bg: rgba(255, 255, 255, 0.3);
  --square-bg-focus: rgba(255, 255, 255, 0.5);
}

body {
  background: var(--background-main);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  color: var(--text);
  text-align: center;
}

.upoutavka {
  background: var(--background-upotavka);
  box-align: center;
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  text-align: center;
  display: inline-block;
}

.nadpis {
  font-family: 'Lobster', cursive;
  /* color: var(--text); */
  text-align: center;
  font-size: xx-large;
}


.popisek {
  /* color: var(--text); */
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.pravidla-btn {
  background: var(--pravidla-btn);
  box-align: center;
  margin-top: 3px;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hra-btn {
  background: var(--hra-btn);
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: var(--text);
  font-size: large;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

.pravidla-btn:hover {
  background: var(--pravidla-btn-hover);
}

.hra-btn:hover {
  background: var(--hra-btn-hover);
}

.obrazek img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.restart {
  background: var(--hra-btn);
  border: 0px;
  border-radius: 5px;
  padding: 6px;
  width: 50px;
  height: 50px;
}

.restart:hover {
  background: var(--hra-btn-hover);
  cursor: pointer;
}

.home {
  background: var(--pravidla-btn);
  border: 0px;
  border-radius: 5px;
  padding: 6px;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.home:hover {
  background: var(--pravidla-btn-hover);
  cursor: pointer;
}

.square {
  height: var(--square-thin);
  width: var(--square-thin);
  /* margin-bottom: -3px;
  margin-top: -3px;
  margin-left: -3px;
  margin-right: -3px; */
  border: 1px solid black;
  background: var(--square-bg);
}

.playingboard {
  margin: 0 auto;
  display: flex;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  max-width: 80vmin;
}

.square:hover {
  background: var(--square-bg-focus);
  cursor: pointer;
}

.main-page {
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.player {
  /* float: left; */
}


.buttons {
  border-radius: 5px;
  padding: 8px;
  border: none;
  margin: 5px;
  position: relative;
  left: 135px;
  top: 8px;
  display: flex;
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  letter-spacing: 1px;
}

.circle {
  margin-bottom: -2px;
  margin-left: 4px;
}

.title {
  font-size: 70px;
  font-family: 'Lobster', cursive;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

}
